

.square .coordinate {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px;
  text-transform: uppercase;
}

.pieceImage {
  height: 55%;
  width: 55%;
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
  filter: drop-shadow(-1px 3px 2px rgb(24, 24, 24));
}

.white {
  background: rgb(247, 208, 164);
}

.black {
  background: rgb(199, 141, 83);
}

.highlightLast {
  background-color: rgb(150, 150, 150);
}


.legalMove {
  background-color: rgb(145, 193, 231);
}  

.selected {
  background-color: rgba(0, 223, 252, 0);
}  
