/* .square {
 // .square assigned in chess.css
} */

.square .coordinate {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px;
  text-transform: uppercase;
}

.pieceImage {
  height: 55%;
  width: 55%;
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
  filter: drop-shadow(-1px 3px 2px rgb(24, 24, 24));
}

.selected {
  background-color: rgba(0, 222, 252, 0.021) !important;
}

.legalMove {
  background-color: aquamarine;
}
