

.hamburgerMenu {
  padding-top: 20px;
  padding-right: 20px;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.hamburgerMenu * {
  width: 100%;
}

.menuList {
  padding: 60px;
  width:180px;
  margin: 50px;
  overflow: hidden;
}
.menuList * {
  width: 100%;
  
  min-width: 80px;
}

.menuButtons {
  display: flex;
  min-width: 120px;
  flex-flow: column nowrap;
  padding: 30px;
  
}

.greenButton {
  background-color: rgb(150, 202, 150);
}