.menuList {
  padding: 60px;
  width: 250px;
  overflow: hidden;
}
.menuList button {
  width: 100%;
  margin: 3px 0;
}

.menuButtons {
  display: flex;
  min-width: 120px;
  flex-flow: column nowrap;
  padding: 30px;
}

.greenButton {
  background-color: rgb(150, 202, 150);
}

.lineBreak {
  margin: 50px 0;
}
