
.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: center;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

body {
  background-color: rgb(157, 175, 141);
}

.welcome {
  font-size: 3rem;
}
.welcomeParagraph {
  font-size: 1.7rem;
}