.container.WelcomePage {
  display: flex;
  flex-flow: column;
  margin: 0 300px;
}

.welcomeContent {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  width: 100%;
}
.welcome {
  font-size: 2.8rem;
  text-align: center;
}
.welcomeParagraph {
  font-size: 1.5rem;
  padding-right: 70px;
}

.loginDiv {
  padding-top: 100px;
  width:40%;
}

.paragraphs {
  max-width: 60%;
}
@media screen and (max-width: 910px) {
  .welcomeContent{
    flex-flow: wrap;
  }
  .paragraphs {
    max-width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .paragraphs{
    max-width: 100%;

  }
}

@media screen and (max-width: 1600px) {
  .container.WelcomePage {
    display: flex;
    flex-flow: column;
    margin: 0 200px;
  }
}
@media screen and (max-width: 1500px) {
    .container.WelcomePage {
      display: flex;
      flex-flow: column;
      margin: 0 100px;
    }
}

