table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  outline: 1px solid black;
  padding: 10px;
  text-align: left;
  width:80px;
}

th {
  background-color: #f0f0f0;
}