

.aboutDiv {
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 830px;
  margin: auto;
  padding-top: 50px;
}

.aboutText {
  font-size: 1.8rem;
  text-indent: 60px;
}

.aboutDiv h1 {
  position:  relative;
  align-self: start;
}